body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
.divImgUno {
  display: none;
}
.divImgDos {
  display: none;
}
.divImgTres {
  display: none;
}
.divImgCuatro {
  display: none;
}



#imagenFondoGrande {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#imagenFondoPequena {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#imagenFondoGrandeDos {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#imagenFondoPequenaDos {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#imagenFondoGrandeTres {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#imagenFondoPequenaTres {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#imagenFondoGrandeCuatro {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#imagenFondoPequenaCuatro {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

  body .divImgUno {
    display: flex;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  body .divImgUno .imgUno {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  body .divImgDos {
    display: flex;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  
  body .divImgDos .imgDos {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  
  body .divImgTres {
    display: flex;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  
  body .divImgTres .imgTres {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  
  body .divImgCuatro {
    display: flex;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  
  body .divImgCuatro .imgCuatro {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .footer{
    background-image: url(../assets/img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .formulario{
    display: flex;
    flex-direction: row;
    font-size: large;
    font-weight: 600;
    justify-content: center;
  }
  .parrafo{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  .footer .formulario .ancla{
    list-style: none;
    text-decoration: none;
    margin-left: 1%;
    margin-top: 1.5%;
  }
  .footer .formulario .red{
    font-size: 2rem;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
  }
  .footer .formulario .red:hover{
    font-size: 2.3rem;
  }
  .footer .redes{
    display: flex;
    justify-content: center;
  }
  .footer .redes .ancla{
    list-style: none;
    text-decoration: none;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
  }
  .footer .redes .red{
    font-size: 2rem;
    display: flex;
    list-style: none;
    text-decoration: none;
  }
  .footer .redes .red:hover{
    font-size: 2.1rem;
  }
  @media screen and (min-width: 0px) and (max-width: 768px) {
    body {
      width: 100vw;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    body .divImgCuatro .imgCuatro {
      width: 100%;
      margin: 0%;
      padding: 0%;
    }
    body .divImgCuatro .imgTres {
      width: 100%;
      margin: 0%;
      padding: 0%;
    }
    body .divImgCuatro .imgDos {
      width: 100%;
      margin: 0%;
      padding: 0%;
    }
    body .divImgCuatro .imgUno {
      width: 100%;
      margin: 0%;
      padding: 0%;
    }
    body .footer .formulario .ancla{
      list-style: none;
      text-decoration: none;
      margin-top: 1%;
      margin-bottom: 1%;
      margin-right: 1%;
      justify-content: center;
    }
  }

  